openapi: 3.0.0
info:
  description: "For Resellers seeking to innovate with Ingram Micro's API solutions,\
    \ automate your eCommerce experience with our array of API's and webhooks to craft\
    \ a seamless journey for your customers."
  title: XI Sdk Resellers
  version: 1.0.0
servers:
- description: Sandbox
  url: https://api.ingrammicro.com:443/
tags:
- description: "\nThe Ingram Micro Product Catalog v6 API endpoints enable users to:\n\
    \  - Search products by SKU or additional criteria.\n  - Find price and availability\
    \ for up to 50 SKUs at one time.\n  - View inventory by location in the product\
    \ catalog.\n  \n *Host Production URL - https://api.ingrammicro.com:443/resellers/v6*\n\
    \ "
  name: Product Catalog
- description: "\nIngram Micro’s Orders v6 API endpoints support both standard products\
    \ and direct-ship products, including licensing and warranties SKUs. Users can:\n\
    \  - Search existing orders by Ingram Micro sales order number.\n  - View order\
    \ details.\n  - Create and place new orders.\n  - Cancel orders, as permitted\
    \ by order status.\n  \n*Host Production URL - https://api.ingrammicro.com:443/resellers/v6*\n\
    \   "
  name: Orders
- description: "\nThis endpoint enables the retrieval and filtering of relevant quote\
    \ list key criteria data, such as quote number, special bid numbers, end user\
    \ name, status, and date ranges from the Ingram Micro system. By default, the\
    \ Quotes endpoint retrieves quotes modified or created within the last 30 days.\n\
    Observe these additional parameters:\n  - Only active quotes are available through\
    \ this API.\n  - Quotes older than 365 days are excluded by default.\n  - You\
    \ can use date range filters to retrieve quotes older than 30 days and up to 365\
    \ days.\n  - Quotes that are in draft and closed states are excluded, and are\
    \ not accessible through this API.\n  \n*Host Production URL - https://api.ingrammicro.com:443/resellers/v6*\
    \  "
  name: Quotes
- description: |2

    The Ingram Micro Invoice v6 API endpoint provide real-time information for invoices. Users can:
      - Get invoice information.
      - View invoice information is available for orders placed in the last 2 years, by providing an Invoice number.


    *Host Production URL - https://api.ingrammicro.com:443/resellers/v6*
  name: Invoices
- description: "\nA customer/reseller can select one or all of the events listed above\
    \ under one webhook or can create individual webhook for each event. The primary\
    \ reason to create multiple webhooks would be to have a dedicated destination\
    \ URL for each event for processing. It is not required to do so and is recommended\
    \ to have a single webhook for a resource type, for example a webhook for orders\
    \ and in future you may have a dedicated webhook for quotes.\n\n\n*Host Production\
    \ URL - https://api.ingrammicro.com:443/resellers/v1* \n"
  name: OrderStatus
- description: "\nA customer/reseller can select this event to get the updated quantity\
    \ of the IPN. This event will trigger the updated quantity with a particular interval.\
    \ To get the information of any SKU/IPN the customer should be authorized.\n\n\
    \n*Host Production URL - https://api.ingrammicro.com:443/resellers/v1*     \n"
  name: StockUpdate
- description: ' '
  name: Renewals
- description: ' '
  name: Deals
- description: ' '
  name: Returns
- description: ' '
  name: Freight Estimate
paths:
  /oauth/oauth20/token:
    get:
      description: The Authentication endpoint will provide an access token to access
        the API.
      operationId: get-accesstoken
      parameters:
      - description: Keep grant_type as client_credentials only.
        explode: true
        in: query
        name: grant_type
        required: true
        schema:
          example: client_credentials
          type: string
        style: form
      - explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: client_secret
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccesstokenResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_accesstoken_400_response"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_accesstoken_500_response"
          description: Internal Server Error
      summary: Accesstoken
      tags:
      - Accesstoken
      x-accepts:
      - application/json
  /resellers/v6/catalog/priceandavailability:
    post:
      description: "The PriceAndAvailability API, will retrieve Pricing, Availability,\
        \ discounts, Inventory Location, Reserve Inventory for the products upto 50\
        \ products. "
      operationId: post-priceandavailability
      parameters:
      - description: "Pass boolean value as input, if true the response will contain\
          \ warehouse availability details, if false the response will not hold warehouse\
          \ availability details"
        explode: true
        in: query
        name: includeAvailability
        required: true
        schema:
          type: boolean
        style: form
      - description: "Pass boolean value as input, if true the response will contain\
          \ Pricing details of the Product, if false the response will not hold Pricing\
          \ details."
        explode: true
        in: query
        name: includePricing
        required: true
        schema:
          type: boolean
        style: form
      - description: "Pass boolean value as input, if true the response will contain\
          \ detailed attributes related to the Product, if false or not sent the response\
          \ will contain very few Product details."
        explode: true
        in: query
        name: includeProductAttributes
        required: false
        schema:
          type: boolean
        style: form
      - description: Your unique Ingram Micro customer number.
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: Unique transaction number to identify each transaction across
          all the systems.
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      - description: "Unique value used to identify the sender of the transaction.\
          \ Example: MyCompany"
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              with one product:
                value:
                  products:
                  - ingramPartNumber: "123512"
              with multiple products (both valid):
                value:
                  products:
                  - ingramPartNumber: "123512"
                  - ingramPartNumber: QQ0202
              with multiple products (valid + invalid):
                value:
                  products:
                  - ingramPartNumber: "123512"
                  - ingramPartNumber: "12351211"
              Request with combination of part numbers:
                value:
                  products:
                  - ingramPartNumber: QQ0202
                  - vendorPartNumber: "5204303"
              To find availability for particular Ingram Warehouse:
                value:
                  products:
                  - ingramPartNumber: 3N7314
                  availabilityByWarehouse:
                  - availabilityByWarehouseId: "40"
            schema:
              $ref: "#/components/schemas/PriceAndAvailabilityRequest"
      responses:
        "200":
          content:
            application/json:
              examples:
                SampleResponse:
                  value:
                  - productStatusMessage: ACOPS ARE AVAILABLE FOR THIS CUSTOMER AND
                      SKU
                    ingramPartNumber: 4A0036
                    vendorPartNumber: E2016HV
                    extendedVendorPartNumber: E2016HV
                    upc: "0884116186519"
                    vendorNumber: 802U
                    vendorName: DELL
                    description: 20IN MONITOR E2016HV 210-AGLU  MNTR
                    productClass: B
                    uom: EA
                    acceptBackOrder: true
                    productAuthorized: true
                    returnableProduct: true
                    endUserInfoRequired: false
                    govtSpecialPriceAvailable: true
                    availability:
                      available: false
                      totalAvailability: 0
                      availabilityByWarehouse:
                      - warehouseId: 20
                        location: "Fort Worth, TX"
                        quantityBackordered: 0
                        backOrderInfo:
                        - quantity: 1437
                          etaDate: 2025-01-01
                        - quantity: 8163
                          etaDate: 2026-01-01
                      - quantityAvailable: 0
                        warehouseId: 40
                        location: "Carol Stream, IL"
                        quantityBackordered: 156
                      - quantityAvailable: 0
                        warehouseId: 80
                        location: "Jonestown, PA"
                        quantityBackordered: 70
                      - quantityAvailable: 0
                        warehouseId: 10
                        location: "Mira Loma, CA"
                        quantityBackordered: 576
                    pricing:
                      mapPrice: 0
                      currencyCode: USD
                      retailPrice: 189.99
                      customerPrice: 74.34
                    discounts:
                    - specialPricing:
                      - specialPricingAvailableQuantity: 9999999
                        specialPricingExpirationDate: 2023-12-31
                        specialBidNumber: TESTRKP1
                        specialPricingMinQuantity: 0
                        specialPricingEffectiveDate: 2022-03-24
                        discountType: Special Bid
                        specialPricingDiscount: 6.74
                        governmentDiscountType: Federal
                        governmentDiscountedCustomerPrice: 67.6
                      - specialPricingAvailableQuantity: 0
                        specialPricingExpirationDate: 2022-08-12
                        specialPricingMinQuantity: 0
                        specialPricingEffectiveDate: 2022-07-20
                        discountType: Promo Discount
                        specialPricingDiscount: 135.56
                      quantityDiscounts:
                      - currencyType: string
                        amount: 0
                        quantity: 0
                        conditionType: string
                        currencyCode: string
                    bundlePartIndicator: boolean
                    serviceFees:
                    - conditionType: string
                      description: string
                      amount: decimal
                      endDate: 2023-01-27
                      currencyCode: string
              schema:
                $ref: "#/components/schemas/PriceAndAvailabilityResponse"
          description: OK
        "207":
          content:
            application/json:
              examples:
                with multiple products (valid + invalid):
                  value:
                  - productStatusMessage: ACOPS ARE AVAILABLE FOR THIS CUSTOMER AND
                      SKU
                    ingramPartNumber: "123512"
                    vendorPartNumber: LS1016A-CISCO
                    customerPartNumber: A5-8963TEST
                    upc: "0718908728116"
                    partNumberType: T
                    vendorNumber: "1234"
                    vendorName: INTERNAL
                    description: 6FT PARALLEL PRINTER DB25M TO  SVCS CENT36M PRO SERIES
                      28AWG ROHS
                    productClass: P
                    uom: EA
                    acceptBackOrder: true
                    productAuthorized: true
                    returnableProduct: true
                    endUserInfoRequired: true
                    availability:
                      available: true
                      totalAvailability: 240479
                      availabilityByWarehouse:
                      - location: "Fort Worth, TX"
                        warehouseId: "20"
                        quantityAvailable: 105415
                      - warehouseId: "25"
                        quantityAvailable: 100000
                      - location: "Millington, TN"
                        warehouseId: "30"
                        quantityAvailable: 9981
                      - location: "Carol Stream, IL"
                        warehouseId: "40"
                        quantityAvailable: 1049
                      - location: "Jonestown, PA"
                        warehouseId: "80"
                        quantityAvailable: 995
                      - location: "Mira Loma, CA"
                        warehouseId: "10"
                        quantityAvailable: 23039
                      - warehouseId: "81"
                      - warehouseId: "05"
                      pricing:
                        currencyCode: USD
                        retailPrice: 10
                        mapPrice: 540.25
                        customerPrice: 5.43
                  - productStatusCode: E
                    productStatusMessage: "Product not found for IngramPartNumber:\
                      \  12351211"
                    ingramPartNumber: "12351211"
              schema:
                $ref: "#/components/schemas/PriceAndAvailabilityResponse"
          description: Multi Status
        "400":
          content:
            application/json:
              examples:
                Single Error:
                  value:
                    errors:
                    - id: -bw0a10t1-2021-02-19T11:04:37.312-08:00
                      type: /errors/validation-failed
                      message: Validation failed
                      fields:
                      - field: IM-CorrelationID
                        value: ""
                        message: IM-CorrelationID cannot be blank
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                across all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: "Unique value used to identify the sender of the transaction.\
                \ Example: MyCompany"
              explode: false
              schema:
                example: MyCompany
                type: string
              style: simple
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-02-19T11:12:26.436-08:00
                      type: /errors/system-errors
                      message: "Some unexpected error occured, please contact support\
                        \ team for more details."
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Price and Availability
      tags:
      - Product Catalog
      x-content-type: application/json
      x-accepts:
      - application/json
  /resellers/v6/catalog:
    get:
      description: Search the Ingram Micro product catalog by providing any of the
        information in the keyword(Ingram part number / vendor part number/ product
        description / UPC
      operationId: get-reseller-v6-productsearch
      parameters:
      - description: Current page number. Default is 1
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Your unique Ingram Micro customer number
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Number of records required in the call - max records 100 per
          page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Sender Identification text
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      - description: "The SKU type of product. One of Physical, Digital, or Any."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - IM::physical
          - IM::digital
          - IM::any
          type: string
        style: form
      - description: Unique transaction number to identify each transaction accross
          all the systems
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      - description: Specifies if there are discounts available for the product.
        explode: true
        in: query
        name: hasDiscounts
        required: false
        schema:
          example: "true"
          type: string
        style: form
      - description: The name of the vendor/manufacturer of the product.
        explode: true
        in: query
        name: vendor
        required: false
        schema:
          items:
            type: string
            uniqueItems: false
          type: array
        style: form
      - description: The vendors part number for the product.
        explode: true
        in: query
        name: vendorPartNumber
        required: false
        schema:
          items:
            type: string
            uniqueItems: false
          type: array
        style: form
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: "Header to the API calls, the content will help us identify the\
          \ response language."
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          type: string
        style: simple
      - description: Vendor number of the product
        explode: true
        in: query
        name: vendorNumber
        required: false
        schema:
          type: string
        style: form
      - description: "Keyword search,can be ingram part number or vendor part number\
          \ or product title or vendor nameKeyword search. Can be Ingram Micro part\
          \ number, vender part number, product title, or vendor name."
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          items:
            type: string
            uniqueItems: false
          type: array
        style: form
      - description: "The category of the product. Example: Displays."
        explode: true
        in: query
        name: category
        required: false
        schema:
          example: Accessories
          type: string
        style: form
      - description: "This parameter is True when you want Skip the authorization,\
          \ so template will work like current B2b template."
        explode: true
        in: query
        name: skipAuthorisation
        required: false
        schema:
          example: "true"
          type: string
        style: form
      - description: Name of the Product Group
        explode: true
        in: query
        name: groupName
        required: false
        schema:
          example: Microsoft Defender for Endpoint P2 (NCE COM MTH)
          type: string
        style: form
      - description: ID of the plan
        explode: true
        in: query
        name: planID
        required: false
        schema:
          example: "471490"
          type: string
        style: form
      - description: "In case of value true, below Group related information will\
          \ displayed without the plan info. Group Name, Group Description, Number\
          \ of plans, link in the group. A link will be provided if customer want\
          \ to see all the plans in that group."
        explode: true
        in: query
        name: showGroupInfo
        required: false
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                TSProductSuccessResponse:
                  value:
                    recordsFound: 1180
                    pageSize: 25
                    pageNumber: 2
                    catalog:
                    - description: ' CLASS 10 100MB/S UHS-I CARD'
                      category: device storage
                      subCategory: Flash Memory Devices
                      productType: ""
                      ingramPartNumber: 1A8249
                      vendorPartNumber: SDSQUNC-016G-AN6IA
                      upcCode: "0619659134587"
                      vendorName: Sandisk Mobile
                      endUserRequired: "false"
                      hasDiscounts: ""
                      type: IM::Physical
                      discontinued: "false"
                      newProduct: "false"
                      directShip: "false"
                      hasWarranty: "false"
                      extraDescription: 'IPAD AIR CELL 256GB SKY BLUE '
                      replacementSku: ""
                      authorizedToPurchase: "true"
                      links:
                      - topic: catalog
                        href: /catalog/1A8249
                        type: GET
                    nextPage: /resellers/v6/catalog?keyword=mobilepageSize=25&pageNumber=3
                    previousPage: /resellers/v6/catalog?keyword=mobilepageSize=25&pageNumber=1
                SubscriptionSuccessResponse:
                  value:
                    recordsFound: 1180
                    pageSize: 25
                    pageNumber: 2
                    subscriptionCatalog:
                    - plans:
                      - planId: "438323"
                        planName: Office 365 E5 OVG (NCE COM MTH)
                        planDescription: "The Office suite, plus email, instant messaging,\
                          \ HD video conferencing, 1 TB personal file storage and\
                          \ sharing, and advanced security, analytics and Audio conferencing."
                        subscriptionPeriodSummary:
                        - subscriptionPeriodUnit: MONTHS
                          subscriptionPeriod: "1"
                        links:
                        - topic: catalog
                          href: /resellers/v6/catalog/priceandavailability
                          type: POST
                        - topic: catalog
                          href: /resellers/v6/catalog/details?planId=438323
                          type: GET
                    nextPage: /resellers/v6/catalog?pageSize=25&pageNumber=3&type=IM::subscription&showGroupInfo=False
                    previousPage: /resellers/v6/catalog?pageSize=25&pageNumber=3&type=IM::subscription&showGroupInfo=False
                SubscriptionWithGroupInfoSuccessResponse:
                  value:
                    recordsFound: 1180
                    pageSize: 25
                    pageNumber: 2
                    subscriptionCatalog:
                    - groupName: NCE Microsoft 365 (Commercial)
                      groupDescription: "The Microsoft 365 and Office 365 families\
                        \ are cloud-based services, designed to help meet your organization’\
                        s needs for robust security, reliability, and user productivity.\
                        \ They deliver the power of cloud productivity to businesses\
                        \ of all sizes, helping save time, money, and free up valued\
                        \ resources."
                      numberOfPlans: "1"
                      link: /resellers/v6/catalog?pageSize=25&pageNumber=1&groupName=NCE
                        Microsoft 365 (Commercial)&showGroupInfo=false&planId=438323
                    nextPage: /resellers/v6/catalog?pageSize=10&pageNumber=3&type=IM::subscription&showGroupInfo=True
                    previousPage: /resellers/v6/catalog?pageSize=10&pageNumber=1&type=IM::subscription&showGroupInfo=True
              schema:
                $ref: "#/components/schemas/ProductSearch_Response"
          description: a ProductSearchv6ResponseElement to be returned
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                accross all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: Sender Identification text .
              explode: false
              schema:
                example: MyCompany
                maxLength: 32
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                "400 - Bad Request":
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-03-18T11:12:26.436-08:00
                      type: /errors/validation-failed
                      message: Validation failed
                      fields:
                      - field: IM-CountryCode
                        message: Required field is missing
                      - field: IM-CustomerNumber
                        message: Required field is missing
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                across all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: Sender Identification text .
              explode: false
              schema:
                example: MyCompany
                maxLength: 32
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                "404 - Not Found":
                  value:
                    errors:
                    - id: 123
                      type: Validation error
                      message: No Records Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No Content
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-03-18T11:12:26.436-08:00
                      type: /errors/system-errors
                      message: "Some unexpected error occurred, please contact support\
                        \ team for more details"
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                across all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: Sender Identification text .
              explode: false
              schema:
                example: MyCompany
                maxLength: 32
                type: string
              style: simple
      security:
      - application:
        - read
      summary: Search Products
      tags:
      - Product Catalog
      x-accepts:
      - application/json
  /resellers/v6/catalog/details:
    get:
      description: Search all the product-related details.
      operationId: get-reseller-v6-productdetailcmp
      parameters:
      - description: Your unique Ingram Micro customer number
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: Sender Identification text
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      - description: Unique transaction number to identify each transaction across
          all the systems
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      - description: Name of the subscription plan
        explode: true
        in: query
        name: planName
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Id of the subscription plan.

           <span style='color:red'>To search for details of subscription products, customer must pass either vendorPartNumber, planName or planId.</span>
        explode: true
        in: query
        name: planId
        required: false
        schema:
          type: string
        style: form
      - description: Vendor’s part number for the product.
        explode: true
        in: query
        name: vendorPartNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SuccessResponseTsProduct:
                  description: OK
                  value:
                    ingramPartNumber: "5348387"
                    vendorPartNumber: 20VE0117MH
                    productAuthorized: "True"
                    description: TB 15 G2 CI5-1135G7 8/256GB 15.6 W11P
                    upc: "196119831243"
                    productCategory: Computers Test Duplicate
                    productSubcategory: Notebooks & Tablets
                    vendorName: Lenovo
                    vendorNumber: "0000500082"
                    productStatusCode: null
                    productClass: null
                    indicators:
                      hasWarranty: true
                      isNewProduct: false
                      hasReturnLimits: false
                      isBackOrderAllowed: false
                      isShippedFromPartner: false
                      isReplacementProduct: false
                      replacementType: null
                      isDirectship: false
                      isDownloadable: false
                      isDigitalType: false
                      skuType: M
                      hasStdSpecialPrice: false
                      hasAcopSpecialPrice: false
                      hasAcopQuantityBreak: false
                      hasStdWebDiscount: false
                      hasAcopWebDiscount: false
                      hasSpecialBid: false
                      isExportableToCountry: false
                      isDiscontinuedProduct: true
                      isRefurbished: false
                      isReturnableProduct: false
                      isIngramShip: true
                      isEnduserRequired: false
                      isHeavyWeight: false
                      hasLtl: false
                      isClearanceProduct: false
                      hasBundle: false
                      isOversizeProduct: false
                      isPreorderProduct: false
                      isLicenseProduct: false
                      isDirectshipOrderable: true
                      isServiceSku: false
                      isConfigurable: false
                    ciscoFields:
                      productSubGroup: null
                      serviceProgramName: null
                      itemCatalogCategory: null
                      configurationIndicator: null
                      internalBusinessEntity: null
                      itemType: null
                      globalListPrice: null
                    warrantyInformation: []
                    additionalInformation:
                      productWeight:
                      - plantId: NL01
                        weight: 2.6
                        weightUnit: KG
                      isBulkFreight: false
                      height: "8"
                      width: "31"
                      length: "50"
                      netWeight: null
                      dimensionUnit: CM
                SuccessResponseCloudProduct:
                  description: OK
                  value:
                    ingramPartNumber: null
                    vendorPartNumber: null
                    customerPartNumber: null
                    productAuthorized: null
                    description: null
                    upc: null
                    productCategory: null
                    productSubCategory: null
                    vendorName: null
                    vendorNumber: null
                    productStatusCode: null
                    productClass: null
                    indicators: null
                    ciscoFields: null
                    warrantyInformation: null
                    additionalInformation: null
                    subscriptionDetails:
                    - planId: "438292"
                      planName: Microsoft 365 Business Standard (NCE COM ANN)
                      planDescription: "Best for businesses that need Office apps\
                        \ across devices plus professional email, cloud file storage,\
                        \ and online meetings & chat. For businesses with up to 300\
                        \ employees."
                      groups:
                      - groupName: NCE Microsoft 365 (Commercial)
                        groupDescription: "The Microsoft 365 and Office 365 families\
                          \ are cloud-based services, designed to help meet your organization’\
                          s needs for robust security, reliability, and user productivity.\
                          \ They deliver the power of cloud productivity to businesses\
                          \ of all sizes, helping save time, money, and free up valued\
                          \ resources."
                      subscriptionPeriod:
                      - subscriptionPeriodUnit: YEAR
                        subscriptionPeriod: "1"
                      billingPeriod:
                        billingPeriod: "1"
                        billingPeriodUnit: YEAR
                      options:
                      - resourceId: "15613396"
                        resourceName: Microsoft 365 Business Standard
                        vendorPartNumber: CFQ7TTC0LDPB:0001
                        minUnits: "1"
                        maxUnits: "300"
                        dependsOn: null
                      links:
                      - topic: catalog
                        href: /resellers/v6/catalog/priceandavailability
                        type: POST
                      previousPage: ""
                      nextPage: ""
                    - planId: "438381"
                      planName: Microsoft 365 Business Standard (NCE COM MTH)
                      planDescription: "Best for businesses that need Office apps\
                        \ across devices plus professional email, cloud file storage,\
                        \ and online meetings & chat. For businesses with up to 300\
                        \ employees."
                      groups:
                      - groupName: NCE Microsoft 365 (Commercial)
                        groupDescription: "The Microsoft 365 and Office 365 families\
                          \ are cloud-based services, designed to help meet your organization’\
                          s needs for robust security, reliability, and user productivity.\
                          \ They deliver the power of cloud productivity to businesses\
                          \ of all sizes, helping save time, money, and free up valued\
                          \ resources."
                      subscriptionPeriod:
                      - subscriptionPeriodUnit: MONTH
                        subscriptionPeriod: "1"
                      - subscriptionPeriodUnit: YEAR
                        subscriptionPeriod: "1"
                      billingPeriod:
                        billingPeriod: "1"
                        billingPeriodUnit: MONTH
                      options:
                      - resourceId: "15612791"
                        resourceName: Microsoft 365 Business Standard
                        vendorPartNumber: CFQ7TTC0LDPB:0001
                        minUnits: "1"
                        maxUnits: "300"
                        dependsOn: null
                      links:
                      - topic: catalog
                        href: /resellers/v6/catalog/priceandavailability
                        type: POST
                      previousPage: ""
                      nextPage: ""
              schema:
                $ref: "#/components/schemas/ProductDetailResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                "400":
                  description: Bad Request
                  value:
                    errors:
                    - traceid: "123"
                      type: errors/bad-request
                      message: Input passed is not in right or expected format. Model
                        Binding Error Happens at Global Model Binding Exception Handler.
                      fields:
                      - field: IM-CustomerNumber
                        message: The customerNumber field is required.
                        value: ""
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "404 - Not Found":
                  value:
                    errors:
                    - id: 123
                      type: Validation error
                      message: No Records Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No Content
        "500":
          content:
            application/json:
              examples:
                "500":
                  description: Internal Server Error
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-02-19T11:12:26.436-08:00
                      type: /errors/system-errors
                      message: "Some unexpected error occurred, please contact support\
                        \ team for more details"
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Product Details
      tags:
      - Product Catalog
      x-accepts:
      - application/json
  /resellers/v6/catalog/details/{ingramPartNumber}:
    get:
      description: "Search all the product-related details using a unique Ingram Part\
        \ Number. Currently, this API is available in the USA, India, and Netherlands."
      operationId: get-reseller-v6-productdetail
      parameters:
      - description: Ingram Micro unique part number for the product
        explode: false
        in: path
        name: ingramPartNumber
        required: true
        schema:
          example: 6YE881
          maxLength: 6
          type: string
        style: simple
      - description: Your unique Ingram Micro customer number
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: Sender Identification text
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      - description: Unique transaction number to identify each transaction accross
          all the systems
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200":
                  description: OK
                  value:
                    ingramPartNumber: "5348387"
                    vendorPartNumber: 20VE0117MH
                    productAuthorized: "True"
                    description: TB 15 G2 CI5-1135G7 8/256GB 15.6 W11P
                    productDetailDescription: Lenovo ThinkBook 15 G2 ITL 20VE0117MH
                      39.6 cm (15.6") Notebook - Full HD - 1920 x 1080 - Intel Core
                      i5 11th Gen i5-1135G7 Quad-core (4 Core) 2.40 GHz - 8 GB Total
                      RAM - 256 GB SSD - Mineral Gray - Intel Chip - Windows 11 Pro
                      - Intel Iris Xe Graphics - In-plane Switching (IPS) Technology
                      - English (Euro) Keyboard - 6 Hours Battery Run Time - IEEE
                      802.11ax Wireless LAN Standard
                    upc: "196119831243"
                    productCategory: Computers Test Duplicate
                    productSubcategory: Notebooks & Tablets
                    vendorName: Lenovo
                    vendorNumber: "0000500082"
                    productStatusCode: null
                    productClass: null
                    indicators:
                      hasWarranty: true
                      isNewProduct: false
                      hasReturnLimits: false
                      isBackOrderAllowed: false
                      isShippedFromPartner: false
                      isReplacementProduct: false
                      replacementType: null
                      isDirectship: false
                      isDownloadable: false
                      isDigitalType: false
                      skuType: M
                      hasStdSpecialPrice: false
                      hasAcopSpecialPrice: false
                      hasAcopQuantityBreak: false
                      hasStdWebDiscount: false
                      hasAcopWebDiscount: false
                      hasSpecialBid: false
                      isExportableToCountry: false
                      isDiscontinuedProduct: true
                      isRefurbished: false
                      isReturnableProduct: false
                      isIngramShip: true
                      isEnduserRequired: false
                      isHeavyWeight: false
                      hasLtl: false
                      isClearanceProduct: false
                      hasBundle: false
                      isOversizeProduct: false
                      isPreorderProduct: false
                      isLicenseProduct: false
                      isDirectshipOrderable: true
                      isServiceSku: false
                      isConfigurable: false
                    ciscoFields:
                      productSubGroup: null
                      serviceProgramName: null
                      itemCatalogCategory: null
                      configurationIndicator: null
                      internalBusinessEntity: null
                      itemType: null
                      globalListPrice: null
                    technicalSpecifications:
                    - headername: Basic
                      attributevalue: Notebook
                      attributedisplay: Basic|Product Type|Notebook
                      attributename: Product Type
                    - headername: Basic
                      attributevalue: 1920 x 1080
                      attributedisplay: Basic|Screen Resolution|1920 x 1080
                      attributename: Screen Resolution
                    - headername: Basic
                      attributevalue: 1.70 kg
                      attributedisplay: Basic|Weight (Approximate)|1.70 kg
                      attributename: Weight (Approximate)
                    - headername: Basic
                      attributevalue: Windows 11 Pro
                      attributedisplay: Basic|Operating System|Windows 11 Pro
                      attributename: Operating System
                    - headername: Basic
                      attributevalue: Intel
                      attributedisplay: Basic|Chipset|Intel
                      attributename: Chipset
                    - headername: Basic
                      attributevalue: SSD
                      attributedisplay: Basic|Drive Type|SSD
                      attributename: Drive Type
                    - headername: Basic
                      attributevalue: 2.40 GHz
                      attributedisplay: Basic|Processor Speed|2.40 GHz
                      attributename: Processor Speed
                    - headername: Basic
                      attributevalue: Core i5
                      attributedisplay: Basic|Processor Type|Core i5
                      attributename: Processor Type
                    - headername: Basic
                      attributevalue: 39.6 cm (15.6")
                      attributedisplay: Basic|Screen Size|39.6 cm (15.6")
                      attributename: Screen Size
                    - headername: Basic
                      attributevalue: Lenovo
                      attributedisplay: Basic|Brand Name|Lenovo
                      attributename: Brand Name
                    - headername: Basic
                      attributevalue: Full HD
                      attributedisplay: Basic|Screen Mode|Full HD
                      attributename: Screen Mode
                    - headername: Basic
                      attributevalue: i5-1135G7
                      attributedisplay: Basic|Processor Model|i5-1135G7
                      attributename: Processor Model
                    - headername: Basic
                      attributevalue: Quad-core (4 Core)
                      attributedisplay: Basic|Processor Core|Quad-core (4 Core)
                      attributename: Processor Core
                    - headername: Basic
                      attributevalue: "No"
                      attributedisplay: Basic|Touchscreen|No
                      attributename: Touchscreen
                    - headername: Basic
                      attributevalue: Intel
                      attributedisplay: Basic|Processor Manufacturer|Intel
                      attributename: Processor Manufacturer
                    - headername: Basic
                      attributevalue: Intel
                      attributedisplay: Basic|Graphics Controller Manufacturer|Intel
                      attributename: Graphics Controller Manufacturer
                    - headername: Basic
                      attributevalue: Iris Xe Graphics
                      attributedisplay: Basic|Graphics Controller Model|Iris Xe Graphics
                      attributename: Graphics Controller Model
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Bluetooth|Yes
                      attributename: Bluetooth
                    - headername: Basic
                      attributevalue: "No"
                      attributedisplay: Basic|Optical Drive Type|No
                      attributename: Optical Drive Type
                    - headername: Basic
                      attributevalue: Shared
                      attributedisplay: Basic|Graphics Memory Accessibility|Shared
                      attributename: Graphics Memory Accessibility
                    - headername: Basic
                      attributevalue: 6 Hours
                      attributedisplay: Basic|Maximum Battery Run Time|6 Hours
                      attributename: Maximum Battery Run Time
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Finger Print Reader|Yes
                      attributename: Finger Print Reader
                    - headername: Basic
                      attributevalue: IEEE 802.11ax
                      attributedisplay: Basic|Wireless LAN Standard|IEEE 802.11ax
                      attributename: Wireless LAN Standard
                    - headername: Basic
                      attributevalue: 65 W
                      attributedisplay: Basic|Maximum Power Supply Wattage|65 W
                      attributename: Maximum Power Supply Wattage
                    - headername: Basic
                      attributevalue: ThinkBook 15 G2 ITL
                      attributedisplay: Basic|Product Family|ThinkBook 15 G2 ITL
                      attributename: Product Family
                    - headername: Basic
                      attributevalue: 64-bit
                      attributedisplay: Basic|Operating System Architecture|64-bit
                      attributename: Operating System Architecture
                    - headername: Basic
                      attributevalue: "3"
                      attributedisplay: Basic|Total Number of USB Ports|3
                      attributename: Total Number of USB Ports
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Keyboard Backlight|Yes
                      attributename: Keyboard Backlight
                    - headername: Basic
                      attributevalue: 256 GB
                      attributedisplay: Basic|Total Solid State Drive Capacity|256
                        GB
                      attributename: Total Solid State Drive Capacity
                    - headername: Basic
                      attributevalue: Windows
                      attributedisplay: Basic|Operating System Platform|Windows
                      attributename: Operating System Platform
                    - headername: Basic
                      attributevalue: English (Euro)
                      attributedisplay: Basic|Keyboard Localization|English (Euro)
                      attributename: Keyboard Localization
                    - headername: Basic
                      attributevalue: Dutch/English/French/German
                      attributedisplay: Basic|Operating System Language|Dutch/English/French/German
                      attributename: Operating System Language
                    - headername: Basic
                      attributevalue: 11th Gen
                      attributedisplay: Basic|Processor Generation|11th Gen
                      attributename: Processor Generation
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Energy Star|Yes
                      attributename: Energy Star
                    - headername: Basic
                      attributevalue: 1 Year
                      attributedisplay: Basic|Limited Warranty Duration|1 Year
                      attributename: Limited Warranty Duration
                    - headername: Basic
                      attributevalue: Mineral Gray
                      attributedisplay: Basic|Product Color|Mineral Gray
                      attributename: Product Color
                    - headername: Basic
                      attributevalue: 8 GB
                      attributedisplay: Basic|Total Installed System Memory|8 GB
                      attributename: Total Installed System Memory
                    - headername: Battery Information
                      attributevalue: 6 Hours
                      attributedisplay: Battery Information|Maximum Battery Run Time|6
                        Hours
                      attributename: Maximum Battery Run Time
                    - headername: Built-in Devices
                      attributevalue: "Yes"
                      attributedisplay: Built-in Devices|Finger Print Reader|Yes
                      attributename: Finger Print Reader
                    - headername: Built-in Devices
                      attributevalue: "Yes"
                      attributedisplay: Built-in Devices|Front Camera/Webcam|Yes
                      attributename: Front Camera/Webcam
                    - headername: Chipset
                      attributevalue: Intel
                      attributedisplay: Chipset|Chipset Manufacturer|Intel
                      attributename: Chipset Manufacturer
                    - headername: Display & Graphics
                      attributevalue: 1920 x 1080
                      attributedisplay: Display & Graphics|Screen Resolution|1920
                        x 1080
                      attributename: Screen Resolution
                    - headername: Display & Graphics
                      attributevalue: 39.6 cm (15.6")
                      attributedisplay: Display & Graphics|Screen Size|39.6 cm (15.6")
                      attributename: Screen Size
                    - headername: Display & Graphics
                      attributevalue: Full HD
                      attributedisplay: Display & Graphics|Screen Mode|Full HD
                      attributename: Screen Mode
                    - headername: Display & Graphics
                      attributevalue: "No"
                      attributedisplay: Display & Graphics|Touchscreen|No
                      attributename: Touchscreen
                    - headername: Display & Graphics
                      attributevalue: Intel
                      attributedisplay: Display & Graphics|Graphics Controller Manufacturer|Intel
                      attributename: Graphics Controller Manufacturer
                    - headername: Display & Graphics
                      attributevalue: Iris Xe Graphics
                      attributedisplay: Display & Graphics|Graphics Controller Model|Iris
                        Xe Graphics
                      attributename: Graphics Controller Model
                    - headername: Display & Graphics
                      attributevalue: DDR4 SDRAM
                      attributedisplay: Display & Graphics|Graphics Memory Technology|DDR4
                        SDRAM
                      attributename: Graphics Memory Technology
                    - headername: Display & Graphics
                      attributevalue: Shared
                      attributedisplay: Display & Graphics|Graphics Memory Accessibility|Shared
                      attributename: Graphics Memory Accessibility
                    - headername: Display & Graphics
                      attributevalue: In-plane Switching (IPS) Technology
                      attributedisplay: Display & Graphics|Display Screen Technology|In-plane
                        Switching (IPS) Technology
                      attributename: Display Screen Technology
                    - headername: General Information
                      attributevalue: Notebook
                      attributedisplay: General Information|Product Type|Notebook
                      attributename: Product Type
                    - headername: General Information
                      attributevalue: 20VE0117MH
                      attributedisplay: General Information|Manufacturer Part Number|20VE0117MH
                      attributename: Manufacturer Part Number
                    - headername: General Information
                      attributevalue: http://www.lenovo.com/nl/en
                      attributedisplay: General Information|Manufacturer Website Address|http://www.lenovo.com/nl/en
                      attributename: Manufacturer Website Address
                    - headername: General Information
                      attributevalue: Lenovo Group Limited
                      attributedisplay: General Information|Manufacturer|Lenovo Group
                        Limited
                      attributename: Manufacturer
                    - headername: General Information
                      attributevalue: 20VE0117MH
                      attributedisplay: General Information|Product Model|20VE0117MH
                      attributename: Product Model
                    - headername: General Information
                      attributevalue: ThinkBook 15 G2 ITL 20VE0117MH Notebook
                      attributedisplay: General Information|Product Name|ThinkBook
                        15 G2 ITL 20VE0117MH Notebook
                      attributename: Product Name
                    - headername: General Information
                      attributevalue: ThinkBook
                      attributedisplay: General Information|Product Line|ThinkBook
                      attributename: Product Line
                    - headername: General Information
                      attributevalue: 15 G2 ITL
                      attributedisplay: General Information|Product Series|15 G2 ITL
                      attributename: Product Series
                    - headername: General Information
                      attributevalue: Lenovo
                      attributedisplay: General Information|Brand Name|Lenovo
                      attributename: Brand Name
                    - headername: General Information
                      attributevalue: "<p><b>Built for business, designed for you</b></p><p>These\
                        \ laptops make it easy to do business with style. From options\
                        \ that keep you up and running without pause, to security\
                        \ that works behind the scenes. And that's not all-ThinkBook\
                        \ laptops boast awesome entertainment features. And they're\
                        \ eye catching too.</p>"
                      attributedisplay: "General Information|Marketing Information|<p><b>Built\
                        \ for business, designed for you</b></p><p>These laptops make\
                        \ it easy to do business with style. From options that keep\
                        \ you up and running without pause, to security that works\
                        \ behind the scenes. And that's not all-ThinkBook laptops\
                        \ boast awesome entertainment features. And they're eye catching\
                        \ too.</p>"
                      attributename: Marketing Information
                    - headername: Input Devices
                      attributevalue: "Yes"
                      attributedisplay: Input Devices|Keyboard Backlight|Yes
                      attributename: Keyboard Backlight
                    - headername: Input Devices
                      attributevalue: English (Euro)
                      attributedisplay: Input Devices|Keyboard Localization|English
                        (Euro)
                      attributename: Keyboard Localization
                    - headername: Interfaces/Ports
                      attributevalue: "Yes"
                      attributedisplay: Interfaces/Ports|Network (RJ-45)|Yes
                      attributename: Network (RJ-45)
                    - headername: Interfaces/Ports
                      attributevalue: "3"
                      attributedisplay: Interfaces/Ports|Total Number of USB Ports|3
                      attributename: Total Number of USB Ports
                    - headername: Interfaces/Ports
                      attributevalue: "2"
                      attributedisplay: Interfaces/Ports|Number of USB 3.2 Gen 1 Ports|2
                      attributename: Number of USB 3.2 Gen 1 Ports
                    - headername: Interfaces/Ports
                      attributevalue: "1"
                      attributedisplay: Interfaces/Ports|Number of USB 3.2 Gen 2 Type-C
                        Ports|1
                      attributename: Number of USB 3.2 Gen 2 Type-C Ports
                    - headername: Interfaces/Ports
                      attributevalue: "1"
                      attributedisplay: Interfaces/Ports|Number of Thunderbolt 4 Ports|1
                      attributename: Number of Thunderbolt 4 Ports
                    - headername: Memory
                      attributevalue: 8 GB
                      attributedisplay: Memory|Total Installed System Memory|8 GB
                      attributename: Total Installed System Memory
                    - headername: Memory
                      attributevalue: DDR4 SDRAM
                      attributedisplay: Memory|System Memory Technology|DDR4 SDRAM
                      attributename: System Memory Technology
                    - headername: Memory
                      attributevalue: 3200 MHz
                      attributedisplay: Memory|System Memory Speed|3200 MHz
                      attributename: System Memory Speed
                    - headername: Miscellaneous
                      attributevalue: <li>ThinkBook 15 G2 ITL 20VE0117MH Notebook</li>
                        <li>AC Adapter</li>
                      attributedisplay: Miscellaneous|Package Contents|<li>ThinkBook
                        15 G2 ITL 20VE0117MH Notebook</li> <li>AC Adapter</li>
                      attributename: Package Contents
                    - headername: Miscellaneous
                      attributevalue: Anti-glare Screen
                      attributedisplay: Miscellaneous|Features|Anti-glare Screen
                      attributename: Features
                    - headername: Miscellaneous
                      attributevalue: "Yes"
                      attributedisplay: Miscellaneous|Environmentally Friendly|Yes
                      attributename: Environmentally Friendly
                    - headername: Miscellaneous
                      attributevalue: RoHS
                      attributedisplay: Miscellaneous|Environmental Certification|RoHS
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: ErP Lot 3
                      attributedisplay: Miscellaneous|Environmental Certification|ErP
                        Lot 3
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: ENERGY STAR 8.0
                      attributedisplay: Miscellaneous|Environmental Certification|ENERGY
                        STAR 8.0
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: EPEAT Silver
                      attributedisplay: Miscellaneous|Environmental Certification|EPEAT
                        Silver
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: "Yes"
                      attributedisplay: Miscellaneous|Energy Star|Yes
                      attributename: Energy Star
                    - headername: Network & Communication
                      attributevalue: "Yes"
                      attributedisplay: Network & Communication|Bluetooth|Yes
                      attributename: Bluetooth
                    - headername: Network & Communication
                      attributevalue: "Yes"
                      attributedisplay: Network & Communication|Wireless LAN|Yes
                      attributename: Wireless LAN
                    - headername: Network & Communication
                      attributevalue: IEEE 802.11ax
                      attributedisplay: Network & Communication|Wireless LAN Standard|IEEE
                        802.11ax
                      attributename: Wireless LAN Standard
                    - headername: Network & Communication
                      attributevalue: Gigabit Ethernet
                      attributedisplay: Network & Communication|Ethernet Technology|Gigabit
                        Ethernet
                      attributename: Ethernet Technology
                    - headername: Operating System
                      attributevalue: Windows 11 Pro
                      attributedisplay: Operating System|Operating System|Windows
                        11 Pro
                      attributename: Operating System
                    - headername: Operating System
                      attributevalue: 64-bit
                      attributedisplay: Operating System|Operating System Architecture|64-bit
                      attributename: Operating System Architecture
                    - headername: Operating System
                      attributevalue: Windows
                      attributedisplay: Operating System|Operating System Platform|Windows
                      attributename: Operating System Platform
                    - headername: Operating System
                      attributevalue: Dutch/English/French/German
                      attributedisplay: Operating System|Operating System Language|Dutch/English/French/German
                      attributename: Operating System Language
                    - headername: Physical Characteristics
                      attributevalue: 1.70 kg
                      attributedisplay: Physical Characteristics|Weight (Approximate)|1.70
                        kg
                      attributename: Weight (Approximate)
                    - headername: Physical Characteristics
                      attributevalue: 18.80 mm
                      attributedisplay: Physical Characteristics|Height|18.80 mm
                      attributename: Height
                    - headername: Physical Characteristics
                      attributevalue: 358.1 mm
                      attributedisplay: Physical Characteristics|Width|358.1 mm
                      attributename: Width
                    - headername: Physical Characteristics
                      attributevalue: 235 mm
                      attributedisplay: Physical Characteristics|Depth|235 mm
                      attributename: Depth
                    - headername: Physical Characteristics
                      attributevalue: Mineral Gray
                      attributedisplay: Physical Characteristics|Product Color|Mineral
                        Gray
                      attributename: Product Color
                    - headername: Power Description
                      attributevalue: 65 W
                      attributedisplay: Power Description|Maximum Power Supply Wattage|65
                        W
                      attributename: Maximum Power Supply Wattage
                    - headername: Processor
                      attributevalue: 2.40 GHz
                      attributedisplay: Processor|Processor Speed|2.40 GHz
                      attributename: Processor Speed
                    - headername: Processor
                      attributevalue: Core i5
                      attributedisplay: Processor|Processor Type|Core i5
                      attributename: Processor Type
                    - headername: Processor
                      attributevalue: i5-1135G7
                      attributedisplay: Processor|Processor Model|i5-1135G7
                      attributename: Processor Model
                    - headername: Processor
                      attributevalue: Quad-core (4 Core)
                      attributedisplay: Processor|Processor Core|Quad-core (4 Core)
                      attributename: Processor Core
                    - headername: Processor
                      attributevalue: Intel
                      attributedisplay: Processor|Processor Manufacturer|Intel
                      attributename: Processor Manufacturer
                    - headername: Processor
                      attributevalue: 4.20 GHz
                      attributedisplay: Processor|Maximum Turbo Speed|4.20 GHz
                      attributename: Maximum Turbo Speed
                    - headername: Processor
                      attributevalue: 11th Gen
                      attributedisplay: Processor|Processor Generation|11th Gen
                      attributename: Processor Generation
                    - headername: Storage
                      attributevalue: SSD
                      attributedisplay: Storage|Drive Type|SSD
                      attributename: Drive Type
                    - headername: Storage
                      attributevalue: "No"
                      attributedisplay: Storage|Optical Drive Type|No
                      attributename: Optical Drive Type
                    - headername: Storage
                      attributevalue: 256 GB
                      attributedisplay: Storage|Total Solid State Drive Capacity|256
                        GB
                      attributename: Total Solid State Drive Capacity
                    - headername: Storage
                      attributevalue: NVMe M.2 PCI Express
                      attributedisplay: Storage|SSD Form Factor|NVMe M.2 PCI Express
                      attributename: SSD Form Factor
                    warrantyInformation: []
                    additionalInformation:
                      productWeight:
                      - plantId: NL01
                        weight: 2.6
                        weightUnit: KG
                      isBulkFreight: false
                      height: "8"
                      width: "31"
                      length: "50"
                      netWeight: null
                      dimensionUnit: CM
              schema:
                $ref: "#/components/schemas/ProductDetailResponse"
          description: Success
        "400":
          content:
            application/json:
              examples:
                "400":
                  description: Bad Request
                  value:
                    errors:
                    - traceid: "123"
                      type: errors/bad-request
                      message: Input passed is not in right or expected format. Model
                        Binding Error Happens at Global Model Binding Exception Handler.
                      fields:
                      - field: IM-CustomerNumber
                        message: The customerNumber field is required.
                        value: ""
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "404 - Not Found":
                  value:
                    errors:
                    - id: 123
                      type: Validation error
                      message: No Records Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No Content
        "500":
          content:
            application/json:
              examples:
                "500":
                  description: Internal Server Error
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-02-19T11:12:26.436-08:00
                      type: /errors/system-errors
                      message: "Some unexpected error occured, please contact support\
                        \ team for more details"
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Product Details
      tags:
      - Product Catalog
      x-accepts:
      - application/json
  /resellers/v1/webhooks/availabilityupdate:
    post:
      parameters:
      - description: The webhook url where the request needs to sent.
        explode: false
        in: header
        name: targeturl
        required: true
        schema:
          example: https://59a2dc5368073ab42fd9a92e210a9fdb.m.pipedream.net/
          type: string
        style: simple
      - description: "Ingram Micro creates a signature token by use of a secret key\
          \ + Event ID. The algorithm to generate the secret ley is given at link\
          \ https://developer.ingrammicro.com/reseller/article/how-use-webhook-secret-key.\
          \ Use the event Id in the below sample along with your secret key to generate\
          \ the key. Alternatively, to send try this out, use a random text to see\
          \ how it works."
        explode: false
        in: header
        name: x-hub-signature
        required: true
        schema:
          example: 3LeaTfLE5FLj1FcYflwdwFosH4ADHmMbds6thtirGC3e9lEkF9/1pt4T2fQQGlxf40EznDBER0b60M75K6ZW0A==
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Order with Header Comments:
                value:
                  topic: resellers/catalog
                  event: im::updated
                  eventTimeStamp: 2021-11-01T13:02:06.369Z
                  eventId: AH7ESSIWSIO22Y77DD
                  resource:
                  - eventType: IM::STOCK_UPDATE
                    ingramPartNumber: 5CX579
                    vendorPartNumber: 710412-001-BTI
                    vendorName: BATTERY TECHNOLOGY INC.
                    upcCode: "0886734869201"
                    skuStatus: null
                    backOrderFlag: "Y"
                    totalAvailability: "120"
                    links:
                    - topic: orders
                      href: /resellers/v5/catalog/5CX579
                      type: GET
                  - eventType: IM::STOCK_UPDATE
                    ingramPartNumber: 5CT275
                    vendorPartNumber: AC-U90W-HP
                    vendorName: BATTERY TECHNOLOGY INC.
                    upcCode: "0745473120182"
                    skuStatus: null
                    backOrderFlag: "Y"
                    totalAvailability: "120"
                    links:
                    - topic: orders
                      href: /resellers/v5/catalog/5CT275
                      type: GET
            schema:
              $ref: "#/components/schemas/AvailabilityAsyncNotificationRequest"
        required: true
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Stock Update
      tags:
      - StockUpdate
      x-content-type: application/json
      x-accepts:
      - application/json
  /resellers/v1/webhooks/orderstatusevent:
    post:
      parameters:
      - description: The webhook url where the request needs to sent.
        explode: false
        in: header
        name: targeturl
        required: true
        schema:
          example: https://59a2dc5368073ab42fd9a92e210a9fdb.m.pipedream.net/
          type: string
        style: simple
      - description: "Ingram Micro creates a signature token by use of a secret key\
          \ + Event ID. The algorithm to generate the secret ley is given at link\
          \ https://developer.ingrammicro.com/reseller/article/how-use-webhook-secret-key.\
          \ Use the event Id in the below sample along with your secret key to generate\
          \ the key. Alternatively, to send try this out, use a random text to see\
          \ how it works."
        explode: false
        in: header
        name: x-hub-signature
        required: true
        schema:
          example: 3LeaTfLE5FLj1FcYflwdwFosH4ADHmMbds6thtirGC3e9lEkF9/1pt4T2fQQGlxf40EznDBER0b60M75K6ZW0A==
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Order with Header Comments:
                value:
                  topic: resellers/orders
                  event: im::updated
                  eventTimeStamp: 2021-11-01T13:02:06.369Z
                  eventId: N01CIB9VVFYKR9J6ZW
                  resource:
                  - eventType: im::order_shipped
                    orderNumber: 20-RD128
                    customerOrderNumber: ZENPO
                    orderEntryTimeStamp: 2020-04-03T08:54:39-07:00
                    lines:
                    - ingramLineNumber: "001"
                      subOrderNumber: 20-RD128-21
                      lineStatus: IM::shipped
                      ingramPartNumber: 5CX895
                      vendorPartNumber: TC57HO-1PEZU4P-NA
                      requestedQuantity: 3
                      shippedQuantity: 2
                      backOrderedQuantity: 1
                      shipmentDetails:
                      - shipmentDate: 2019-11-06
                        shipFromWarehouseId: "10"
                        warehouseName: New York
                        carrierCode: 4M
                        carrierName: SMARTPOST-BM
                        packageDetails:
                        - cartonNumber: ""
                          quantityInbox: ""
                          trackingNumber: ""
                      serialNumberDetails:
                      - serialNumber: "123123123"
                    links:
                    - topic: orders
                      href: /resellers/v5/orders/20-RD128
                      type: GET
            schema:
              $ref: "#/components/schemas/OrderStatusAsyncNotificationRequest"
        required: true
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Order Status
      tags:
      - OrderStatus
      x-content-type: application/json
      x-accepts:
      - application/json
  /resellers/v7/orders:
    post:
      description: "The Order Create v7 allows our customers to create orders asynchronously.\
        \ The customer can create either standard orders using stocked SKUs and/or\
        \ create a “Quote to Order” using the existing quote which is in “Ready to\
        \ Order” status, or the customer can create an order using the “Configure\
        \ to order” (CTO) quote. Upon successful submission of the order create request,\
        \ a confirmation message will be returned as an API response. <br > <br >\
        \ Once the order is processed, Ingram Micro will notify customers via webhook\
        \ using a pre-defined callback URL as an HTTP post regarding the updates related\
        \ to the order. Upon successful order creation, a notification will be sent\
        \ via webhook regarding the order details, in the event of any error occurring\
        \ during the order creation process, an error message will be delivered via\
        \ webhook. Nightly system unavailability will delay response Async response.\
        \ <br > <br > The key differentiator between standard ordering and “Quote\
        \ To Order” is the optional input field in the request body which is “quoteNumber”\
        . If a customer passes the quote number in the request body, the order will\
        \ be processed as a “Quote To Order” using the details from the quote. Any\
        \ SKUs, quantity, or price information that are passed in the lines object\
        \ within the request will be ignored in the case of “Quote To Order”.<br >\
        \ <br > **Prerequisite:** Pre-defined callback URL <br > <br > **Standard\
        \ ordering::**<br><br>Ingram Micro recommends that you provide the ingramPartNumber\
        \ for each SKU contained in each order. NOTE: You must have net terms to use\
        \ the Ingram Micro Order Create API. Ingram Micro offers trade credit when\
        \ using our APIs, and repayment is based on net terms. For example, if your\
        \ net terms agreement is net 30, you will have 30 days to make a full payment.\
        \ Ingram Micro does not allow credit card transactions for API ordering. <br><br>[**Key\
        \ differences between v6 and v7 Migration**](https://developer.ingrammicro.com/reseller/page/v6-and-v7-migration)\
        \ <br><br> <br><br>**Quote to Order / Configure to Order:**<br><br>If customers\
        \ are planning to use Quote to Order or Configure to Order Quotes, it’s recommended\
        \ to validate the quote using the “Validate Quote” endpoint before creating\
        \ an order using the quote. Validate Quote endpoint will not only validate\
        \ the quote but also outline all the mandatory fields required by the vendor\
        \ at a header level and at the line level which a customer needs to pass to\
        \ the Quote to Order endpoint request. For a detailed understanding of the\
        \ “Validate Quote” endpoint, review the “Validate Quote” endpoint documentation.\
        \ <br><br> **How it works:**<br><br>- The customer validates the quote with\
        \ a quote number from the Validate Quote endpoint.<br>- The customer copies\
        \ all the mandatory fields required by the vendor and adds them to the QTO\
        \ request body.<br>- The customer provides all the values for Vendor mandatory\
        \ fields along with other required information for QTO to create an order.<br>-\
        \ After the order creation request receipt acknowledgment from the QTO endpoint,\
        \ all further order creation updates will be provided via webhook push notification."
      operationId: post-createorder_v7
      parameters:
      - description: Your unique Ingram Micro customer number.
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: "Unique value used to identify the sender of the transaction.\
          \ Example: MyCompany"
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      - description: Unique transaction number to identify each transaction across
          all the systems.
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order_create_v7_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Success Response:
                  description: ""
                  value:
                    quoteNumber: ""
                    confirmationNumber: US-I-T-24032926562341102332
                    message: "Thank you for submitting the order request, it’s currently\
                      \ under process.We will notify you of the status via the Order\
                      \ Status webhook."
                Webhook Response:
                  value:
                  - topic: resellers/orders
                    event: IM::created
                    eventTimeStamp: 2024-04-23T15:03:11.267Z
                    eventId: NYNNHS5UMGAK0X3L4E
                    resource:
                      eventType: IM::async_order_create
                      customerOrderNumber: TESTCASE41E111
                      endCustomerOrderNumber: X4D_TT
                      billToAddressId: "000"
                      orderSplit: false
                      processedPartially: false
                      purchaseOrderTotal: 0
                      resellerInfo:
                        companyName: INGRAM MICRO TEST CUSTOMER
                        contact: ' '
                        addressLine1: "CL. CANTABRIA, 2  3 PLTA. MOD. B1"
                        addressLine2: EDF. AMURA
                        addressLine3: ""
                        city: ALCOBENDAS  MADRID
                        state: ES
                        postalCode: "28108"
                        countryCode: ES
                        phoneNumber: "934749090"
                        email: IN-Endeavour.Auto@ingrammicro.com
                      shipToInfo:
                        addressId: "200"
                        companyName: INGRAM MICRO TEST ACCOUNT
                        addressLine1: ATTN TOD DEBIE
                        addressLine2: 1610 E SAINT ANDREW PL
                        city: SANTA ANA
                        state: CA
                        postalCode: "927054931"
                        countryCode: US
                      endUserInfo:
                        endUserId: "5"
                        addressSequenceNumber: "1"
                        contactId: "1"
                        contact: Dummy John
                        phoneNumber: "78776777771"
                        email: dummy.email1@ingrammicro.co.in
                      orders:
                      - numberOfLinesWithSuccess: 1
                        numberOfLinesWithError: 0
                        numberOfLinesWithWarning: 0
                        ingramOrderNumber: 29-02738
                        ingramOrderDate: 2024-04-23
                        notes: "EUNAME: LTIMINDTREE || EUNAME1: RASHIM SAMEER || EUADD1:\
                          \ C/ ANDALUCÍA 62 || EUPH: 65756756756 || UEMAIL: RASHIM.SAMEER@INGRAMMICRO.C\
                          \ || OM || \\\\\\EUID: 19"
                        orderType: S
                        orderTotal: 0
                        freightCharges: 0
                        totalTax: 0
                        currencyCode: EUR
                        lines:
                        - subOrderNumber: 29-02738-11
                          customerLineNumber: "001"
                          lineType: P
                          ingramLineNumber: "008"
                          globalSkuId: A306-CD98075
                          lineStatus: Backordered
                          ingramPartNumber: CD98075
                          vendorNumber: D190
                          extendedUnitPrice: 0
                          notes: GALAXY A33 5G EE SMD || BLACK 6+128GB || EUÑ- 000410729
                            LTIMINDTREE || MCÑC
                          unitPrice: 290
                          quantityOrdered: 1
                          quantityConfirmed: 0
                          quantityBackOrdered: 1
                          shipmentDetails:
                            carrierCode: GN
                            carrierName: DHL NORMAL
                            shipFromWarehouseId: "29"
                          endUserInfo:
                            endUserId: ""
                            companyName: MEDECISION INC
                            contact: AARON RICCITELLI
                            addressLine1: 601 LEE RD
                            city: wayne
                            state: pa
                            postalCode: "190875607"
                            countryCode: US
                            phoneNumber: "6105400202"
                            email: aaron.riccitelli@medecision.com
                          warrantyInfo:
                            directLineLink: MJDVATC10001B
                        miscellaneousCharges:
                        - subOrderNumber: 29-02738-11
                          chargeLineReference: "890"
                          chargeDescription: CARGO POR PEDIDO ELECTRONIC
                          chargeAmount: 0
                        links:
                        - topic: orders
                          href: /resellers/v6/orders/29-02738
                          type: GET
              schema:
                $ref: "#/components/schemas/OrderCreateV7Response201"
          description: Confirmation response
        "201":
          content:
            application/json:
              examples:
                Webhook Response:
                  value:
                  - topic: resellers/orders
                    event: IM::created
                    eventTimeStamp: 2024-04-23T15:03:11.267Z
                    eventId: NYNNHS5UMGAK0X3L4E
                    resource:
                      eventType: IM::async_order_create
                      customerOrderNumber: TESTCASE41E111
                      endCustomerOrderNumber: X4D_TT
                      billToAddressId: "000"
                      orderSplit: false
                      processedPartially: false
                      purchaseOrderTotal: 0
                      resellerInfo:
                        companyName: INGRAM MICRO TEST CUSTOMER
                        contact: ' '
                        addressLine1: "CL. CANTABRIA, 2  3 PLTA. MOD. B1"
                        addressLine2: EDF. AMURA
                        addressLine3: ""
                        city: ALCOBENDAS  MADRID
                        state: ES
                        postalCode: "28108"
                        countryCode: ES
                        phoneNumber: "934749090"
                        email: IN-Endeavour.Auto@ingrammicro.com
                      shipToInfo:
                        addressId: "200"
                        companyName: INGRAM MICRO TEST ACCOUNT
                        addressLine1: ATTN TOD DEBIE
                        addressLine2: 1610 E SAINT ANDREW PL
                        city: SANTA ANA
                        state: CA
                        postalCode: "927054931"
                        countryCode: US
                      endUserInfo:
                        endUserId: "5"
                        addressSequenceNumber: "1"
                        contactId: "1"
                        contact: Dummy John
                        phoneNumber: "78776777771"
                        email: dummy.email1@ingrammicro.co.in
                      orders:
                      - numberOfLinesWithSuccess: 1
                        numberOfLinesWithError: 0
                        numberOfLinesWithWarning: 0
                        ingramOrderNumber: 29-02738
                        ingramOrderDate: 2024-04-23
                        notes: "EUNAME: LTIMINDTREE || EUNAME1: RASHIM SAMEER || EUADD1:\
                          \ C/ ANDALUCÍA 62 || EUPH: 65756756756 || UEMAIL: RASHIM.SAMEER@INGRAMMICRO.C\
                          \ || OM || \\\\\\EUID: 19"
                        orderType: S
                        orderTotal: 0
                        freightCharges: 0
                        totalTax: 0
                        currencyCode: EUR
                        lines:
                        - subOrderNumber: 29-02738-11
                          customerLineNumber: "001"
                          lineType: P
                          ingramLineNumber: "008"
                          globalSkuId: A306-CD98075
                          lineStatus: Backordered
                          ingramPartNumber: CD98075
                          vendorNumber: D190
                          extendedUnitPrice: 0
                          notes: GALAXY A33 5G EE SMD || BLACK 6+128GB || EUÑ- 000410729
                            LTIMINDTREE || MCÑC
                          unitPrice: 290
                          quantityOrdered: 1
                          quantityConfirmed: 0
                          quantityBackOrdered: 1
                          shipmentDetails:
                            carrierCode: GN
                            carrierName: DHL NORMAL
                            shipFromWarehouseId: "29"
                          endUserInfo:
                            endUserId: ""
                            companyName: MEDECISION INC
                            contact: AARON RICCITELLI
                            addressLine1: 601 LEE RD
                            city: wayne
                            state: pa
                            postalCode: "190875607"
                            countryCode: US
                            phoneNumber: "6105400202"
                            email: aaron.riccitelli@medecision.com
                          warrantyInfo:
                            directLineLink: MJDVATC10001B
                        miscellaneousCharges:
                        - subOrderNumber: 29-02738-11
                          chargeLineReference: "890"
                          chargeDescription: CARGO POR PEDIDO ELECTRONIC
                          chargeAmount: 0
                        links:
                        - topic: orders
                          href: /resellers/v6/orders/29-02738
                          type: GET
              schema:
                $ref: "#/components/schemas/OrderCreateV7Response"
          description: Webhook Response
        "400":
          content:
            application/json:
              examples:
                "400":
                  description: Bad Request
                  value:
                    errors:
                    - traceid: "123456"
                      type: /errors/validation-failed
                      message: customer validation failed
                      fields:
                      - field: IM-CountryCode
                        message: Required field is missing
                        value: null
              schema:
                $ref: "#/components/schemas/post_createorder_v7_400_response"
          description: Bad Request
        "500":
          content:
            application/json:
              examples:
                "500":
                  description: Internal Server Error
                  value:
                    errors:
                    - traceid: "123456"
                      type: /errors/system-errors
                      message: "Some unexpected error occured, please contact support\
                        \ team for more details"
              schema:
                $ref: "#/components/schemas/post_createorder_v7_500_response"
          description: Server Error
      security:
      - application:
        - read
      summary: Create your Order v7
      tags:
      - Orders
      x-content-type: application/json
      x-accepts:
      - application/json
  /resellers/v7/vendorrequiredinfo:
    post:
      description: "<p>The vendor required info API allows customers to identify all\
        \ the mandatory fields that will be required to create an order before placing\
        \ an order. These fields are required by the vendor to process orders. The\
        \ customers can identify Vendor Required Information, aka Vendor Mandatory\
        \ Fields or VMFs, using any of the following.</p><ul><li>Ingram Part Number</li><li>Vendor\
        \ Part Number</li><li>Plan ID</li><li>Ingram Quote Number</li></ul><p>For\
        \ the non-cloud Technology Solutions products, such as Hardware, Software,\
        \ or Warranty, the VMFs will be returned in the “vmfAdditionalAttributes”\
        \ object in the response, whereas for the cloud subscriptions products, the\
        \ VMFs will be returned in the “vriAdditionalAttributes” object in the response.</p><p>While\
        \ creating an Order Create request for the non-cloud products, such as Hardware,\
        \ Software, or Warranty, pass “vmfAdditionalAttributes” object with the necessary\
        \ response in the “attributeValue” field.</p><p>While creating an Order Create\
        \ request, for Subscription products, pass “vriAdditionalAttributes” object\
        \ with the necessary response in the “attributeValue” field and any other\
        \ applicable subcomponents to create an order. </p>"
      operationId: vendor-required-info
      parameters:
      - description: Your unique Ingram Micro customer number.
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
[...]
